*,
*::after,
*::before {
  /* Remove unncessary styles */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary colors */
  --dark-blue: hsl(233, 47%, 7%);
  --blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  /* Neutral colors */
  --white: hsl(0, 0%, 100%);
  --white-light: hsla(0, 0%, 100%, 0.75);
  --white-light2: hsla(0, 0%, 100%, 0.6);
}

/* common styles*/
h1,
h3 {
  color: var(--white);
  font-weight: 700;
  font-size: 1.7rem;
}

body {
  background-color: var(--dark-blue);
  padding: 3rem 1rem;
  height: 100vh;
  width: 100%;
  font-family: 'inter', sans-serif;
  /* Make card center */
  display: grid;
  place-items: center;
}

/* The card section🃏*/
main {
  background-color: var(--blue);
  border-radius: 0.5em;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 2fr;
  overflow: hidden;
}

/* Making the image look good 💄*/
.img-container {
  height: 100%;
  max-height: 265px;
  width: auto;
  background-color: var(--soft-violet);
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.highlight {
  color: var(--soft-violet);
}

/* The main CONTENT*/
.content {
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.hero,
.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.hero {
  margin-bottom: 1em;
}

.hero > p {
  color: var(--white-light);
  line-height: 1.5;
}

/* STATS section 📊*/
.works p {
  text-transform: uppercase;
  color: var(--white-light2);
  font-size: 0.8rem;
  line-height: 2;
}

/* It has to be RESPONSIVE */
@media screen and (min-width: 756px) {
  main {
    grid-template-rows: none;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    max-width: 1125px;
  }

  .img-container {
    grid-column-start: 2;
    max-height: 100%;
  }

  .content {
    grid-row-start: 1;
    padding: 3rem;
    grid-template-rows: 2fr 1fr;
  }

  .works {
    flex-direction: row;
    align-items: flex-end;
  }

  .work {
    margin-right: 4rem;
  }

  .work:last-child {
    margin-right: 0;
  }

  .hero p {
    margin-top: 1rem;
    line-height: 1.5;
  }
}

/* One more 😉 */
@media screen and (min-width: 1025px) {
  h1 {
    font-size: 2rem;
  }

  .content {
    margin-right: 2.5rem;
    padding: 4rem;
  }

  .hero p {
    line-height: 1.7;
    margin-top: 1rem;
  }
}
